$off-white: rgba(233, 233, 233, 1.0);
$transparent-50: rgba(0, 0, 0, 0.5);
$transparent-70: rgba(0, 0, 0, 0.7);
$green: rgba(8, 148, 0, 1.0);
$red: rgba(220, 20, 60, 1.0);

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, $transparent-50, $transparent-50), url('../images/dartboard.jpg') no-repeat center / auto 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  text-align: center;

  @media screen and (min-width: 768px) {
    background-size: cover;
    font-size: 1.125rem;
  }
}

.title,
.subtitle {
  color: $off-white;
  font-family: 'Arvo', serif;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 3.75rem;
  margin-top: 0;
  padding-top: 1rem;

  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
}

.subtitle {
  font-size: 1.875rem;
  margin-top: 1rem;

  @media screen and (min-width: 768px) {
    font-size: 2.25rem;
  }
}

input {
  background-color: $transparent-70;
  border: 0.125rem solid $off-white;
  color: $off-white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 15rem;
}

button {
  border: none;
  color: $off-white;
  display: block;
  margin: 1rem auto;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  width: 10rem;
}

#add {
  background-color: $green;
}

#clear {
  background-color: $red;
}

#rankings-list {
  background-color: $transparent-70;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  text-align: left;

  > li {
    color: $off-white;
    list-style: none;
  }
}

